{% extends 'main.html' %}
{% load static %}
{%block content%}

<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>My Attendance</h1>
      </div>

      <form class="form-inline mr-auto" action="{% url 'view-attendance' %}" method="get">
       
        <div class="search-element">
          <input class="form-control" type="search" name="search_query" value="{{search_query}}" placeholder="Search" aria-label="Search" data-width="250">
          <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          <div class="search-backdrop"></div>
          
        </div>
      </form>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">


          <tr>
            <th>Registration Number</th>
            <th>Student Name</th>
            <th>Unit Code</th>
            <th>Unit Name</th>
            <th>Time Attended</th>
            <!-- <th>Number Of Students</th> -->
            
          </tr>

          {% for attendance in attendance %}
          <tr>
            
            <td>
                {{attendance.unit_id.student.registration_number}}
            </td>

            <td>
                {{attendance.unit_id.student.first_name}} {{attendance.unit_id.student.last_name}}
            </td>
           
            <td>
                {{attendance.unit_id.unit_id.unit_code}}
            </td>
            <td>
                {{attendance.unit_id.unit_id.unit_name}}
            </td>

            <td>
                {{attendance.created}}
             </td>
           
            <!-- <td>{{students}}</td> -->
           
          </tr>
          {% endfor %}
          
            
         
        </table>
      </div>
      {% include 'includes/pagination.html' with queryset=attendance custom_range=custom_range %}


      <div class="section-body">
      </div>
    </section>
  </div>

  {%endblock%}
