{% extends 'main.html' %}
{% load static %}
{%block content%}

<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>View Students</h1>
      </div>

       <form class="form-inline mr-auto" action="{% url 'view-students' %}" method="get">
       
        <div class="search-element">
          <input class="form-control" type="search" name="search_query" value="{{search_query}}" placeholder="Search" aria-label="Search" data-width="250">
          <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          <div class="search-backdrop"></div>
          
        </div>
      </form>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">


          <tr>
            
            <th>Image</th>
            <th>Registration Number</th>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Email</th>
          </tr>

          {% for student in students %}
          <tr>
            
          
            <td>
                <a href="#">
                  <img alt="image" src="{{student.userprofile.profile_picture.url}}" class="rounded-circle" width="35" data-toggle="title" title=""> 
                </a>
              </td>
            <td>
                {{student.userprofile.registration_number}}
            </td>
            <td>
                {{student.userprofile.first_name}} {{student.userprofile.last_name}}
            </td>
           
            <td>{{student.userprofile.phone_number}}</td>
            <td>{{student.userprofile.email}}</td>
          </tr>
          {% endfor %}
          
            
         
        </table>
      </div>
      {% include 'includes/pagination.html' with queryset=students custom_range=custom_range %}


      <div class="section-body">
      </div>
    </section>
  </div>

  {%endblock%}
